/*--------------- ШАПКА САЙТА ---------------*/

.header {
  /* вся шапка */
  max-width: 1340px;
  display: flex;
  justify-content: space-between;
  margin: 92px 49px 92px 51px;
  padding-bottom: 4px;
}

.header__menu {
  /* контейнер навигации */
  display: flex;
  padding-bottom: 4px;
}

.header__links-list {
  /* список ссылок */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-top: 5px;
}

.header__links-list-item {
  /* пункт списка ссылок */
  list-style: circle;
}

.header__links-list-item_no-bullit {
  /* класс, чтобы сделать ссылку без кружочка перед ней */
  list-style: none;
}

.header__logo {
  /* контейнер логотипа */
  width: 148px;
  height: 105px;
  margin-right: 149px;
}

.header__logo-image {
  /* картинка с логотипом */
  height: 100%;
  width: 100%;
}

/*--------------- COVER SECTION ---------------*/
/* вся секция */
.cover {
  display: flex;
  flex-direction: column;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 180px;
  background-position: center;
  position: relative;
  z-index: 0;
  padding: 165px 50px 50px 50px;
}

.cover__title {
  /* заговолок секции */
  letter-spacing: 30px;
  font-size: 100px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
}

/* классы для выравнивания строк текста и превращения их в блочный элемент */
.aligned-text__left {
  display: block;
  text-align: left;
  line-height: 115%;
  margin-bottom: 20px;
}

.aligned-text__center {
  display: block;
  text-align: center;
  line-height: 100%;
  margin-bottom: 20px;
}

.aligned-text__right {
  display: block;
  text-align: right;
  line-height: 100%;
  margin-bottom: 135px;
}

.letter-spacing-extended {
  /* класс для управления межбуквенным расстоянием в местах, где есть эти акценты */
  letter-spacing: 60px;
}

.no-letter-spacing {
  /*  класс для обнуления общего межбуквенного расстояния для последней буквы */
  letter-spacing: initial;
}

.cover__description {
  /* контейнер для подзаголовка и кнопки */
  display: flex;
  justify-content: end;
  gap: 79px;
  z-index: 2;
}

.cover__description-text {
  /* текст подзаголовка */
  display: flex;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  align-items: center;
  text-transform: uppercase;
  word-spacing: 16px;
  line-height: 28%;
  min-width: 631px;
  background-color: rgba(255, 0, 0, 0.5);
}

.accent__div-1 {
  /* span 1 для текста подзаголовка */
  word-spacing: 16px;
  margin-right: 24px;
}

.accent__div-2 {
  /* span 2 для текста подзаголовка */
  word-spacing: 17px;
  margin-right: 16px;
}

.accent__div-3 {
  /* span 3 для текста подзаголовка */
  word-spacing: 22px;
  margin-left: 5px;
}

.bet-button {
  /* кнопка "Сделать ставку" */
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  background-color: transparent;
  padding: 12px 32px 12px 32px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
}

/*--------------- LOTS SECTION ---------------*/

.lots {
  /* вся секция */
  margin: 0 0 180px 0;
}

.lots__heading {
  /* заголовок секции */
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 27px 90px;
}

.lots__card-list {
  /* список карточек */
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin: 0 50px 30px 50px;
}

.lots__card-list-item {
  /* пункт списка карточки */
  display: flex;
  justify-content: start;
  flex-grow: 1;
  max-width: 430px;
  min-height: 450px;
}

.card-link {
  /* ссылка, обрамляющая карточку */
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  /* карточка */
  height: 100%;
  width: 100%;
  min-height: 450px;
  position: relative;
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.card__content {
  /* контейнер для контента карточки */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  /* заголовок карточки */
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
  text-decoration: underline;
  line-height: 120%;
  z-index: 2;
}

.card__text {
  /* текст карточки */
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding: 0 40px 50px 40px;
  line-height: 120%;
  z-index: 2;
}

.lots__look-more-link {
  /* ссылка «Посмотреть больше» */
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
  margin: 0 0 0 90px;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  padding: 1px;
}

/* классы, чтобы задать определённый фон каждой из карточек */
.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.overlay {
  /* полупрозрачный блок с затемнением */
  background-color: rgb(0 0 0 / 0.6);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*--------------- ABOUT SECTION ---------------*/

.about {
  /* вся секция */
  margin: 0 50px 180px 50px;
}

.about__column {
  /* класс для колонок */
  display: grid;
  grid-template-columns: 430px 1fr; /* 1fr вместо 885px; */
  grid-template-rows: 487px;
  column-gap: 25px;
}

.about__logo-container {
  /* контейнер для контента логотипа */
  display: flex;
  justify-content: center;
}

.about__logo {
  /* контейнер с логотипом */
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.about__logo-image {
  /* изображение логотипа */
  width: 148px;
  height: 114px;
}

.about__description-container {
  /* контейнер для секции заголовка с текстом */
  display: flex;
  flex-direction: column;
}

.about__title {
  /* заголовок секции */
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
}

.about__text {
  /* блок для текстов секции */
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  gap: 25px;
}

/*--------------- ПОДВАЛ САЙТА ---------------*/
/* подвал */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 90px 50px;
  padding-top: 3px;
}

.footer__menu {
  /*  блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом */
  display: flex;
  justify-content: center;
}

.footer__menu-list {
  /* список пунктов меню */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
}

.footer__menu-list-item {
  /* пункт списка меню */
  color: #000000;
  list-style: none;
}

.footer__social-list {
  /* список ссылок на социальные сети. Можно не добавлять тег <nav>,
  потому что это ссылки на внешние ресурсы */
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 48px;
}

.footer__social-list-item {
  /* пункт списка ссылок на социальные сети */
  list-style: none;
}

.footer__social-link {
  /* ссылка на социальные сети */
  text-decoration: none;
}

.footer__social-icon {
  /* иконка социальной сети */
  height: 48px;
}

.header__address {
  /* потребуется, чтобы выравнивать блок с адресом */
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 2px;
}

.footer__address {
  /* потребуется, чтобы выравнивать блок с адресом */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/*-------------------- ПЕРЕИСПОЛЬЗУЕМЫЕ СТИЛИ --------------------*/

.header__link,
.footer__link {
  /* ссылки хедера и футера в навигационных меню */
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  padding: 1px;
}

.header__link_active,
.footer__link_active {
  /* активная ссылка хедера и футера в навигационных меню
(ссылка без подчеркивания текста) */
  text-decoration: none;
  border-bottom: none;
}
